tests/**
backup.go
TODOs.old.md
TODOs.md
info.md
# temporary
assets/postnotification/datastores_old.yaml
.venv/
**/.DS_Store
.idea
.vscode
.trash
.z3
.wasm
.cmd
apps/**
COMMANDS.md
EVAL.md
.vagrant/**
trash/**
