go 1.22.4

toolchain go1.22.4

use (
	../blueprint/examples/postnotification_simple/workflow
	../blueprint/examples/postnotification_simple/wiring
	../blueprint/examples/digota/workflow
	../blueprint/examples/digota/wiring
	../blueprint/examples/dsb_media_sql/workflow
	../blueprint/examples/dsb_media_sql/wiring
	../blueprint/examples/sockshop3/workflow
	../blueprint/examples/sockshop3/wiring
	../blueprint/examples/dsb_sn/workflow
	../blueprint/examples/dsb_sn/wiring
	../blueprint/examples/foobar/workflow
	../blueprint/examples/foobar/wiring
	../blueprint/plugins
	../blueprint/runtime
	./analyzer
)
